*{
    margin: 0 auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 0.800em;
    line-height: 1.6;
    word-spacing: 2px;
}

h1 {
    /* font-family: 'Roboto', sans-serif; */
    /* margin-bottom: 20px; */
    /* margin: 0px 0px 0px -35px; */
    font-size: 2.125em;
    /* text-shadow: 4px 5px 4px rgba(0,0,0,0.86); */
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    /* padding: 80px 50px; */
    /* text-align: center; */
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    /* background-color: #333; */
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    margin-left: 0px;
}

h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 23px;
}

header{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFC;
    /* margin-top: 10px; */
    justify-content: center;
    /* margin-bottom: 10px; */
    position: relative;
    z-index: 2;
}

.animate__fadeIn{
    animation-duration: 4s !important;
  }
  
  .animate__fadeOut{
    animation-duration: 0.3s !important;
  }

.header-logo-burguer-container{
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32%;
    position: relative;
    z-index: 2;
}

.logo-required{
    height: 45px;
    margin: 0;   
}

#icon-burguer{
    height: 30px;
    width: 30px;
    margin: 0;
}

.nav-bar-desktop{
    display:none;
}

.nav-container{
    width: 100%;
  height: 175px;
  /* margin-top: 10px; */
  z-index: 1;
  top: 50px;
  position: absolute;
  background-color: #FAFAFA;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.nav-bar-ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.nav-bar-ul > li{
    margin-top: 13px;
    color: #1D1D1F;
}

.first-section{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.image-one{
   position: relative;
   background-color: #000;
   
}

.image-one::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0.6;
    width: 100%;
    height: 100vh;  
    background: url(../images/luca-bravo-XJXWbfSo2f0-unsplash-min.jpg) no-repeat center center; 
    background-size: 170% 100vh;
}

.image-one-container{
    width: 92%;
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 38%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #FAFAFA;
}

.image-one-container > p{
        text-shadow: 4px 5px 4px rgba(0,0,0,0.86);
        margin-top: 20px;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    
}

.second-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    background-color: #FFFFFF;
}

.second-article{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
}

.second-article > p{
    color: #767677;
    margin-bottom: 15px;
}

#gif-1{
    width: 18.25em;
}

.third-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    background-color: #FAFAFA;
}

.third-article{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
}

.third-article > p{
    color: #767677;
    margin-bottom: 15px;
}

.image-and-icons{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
}

#img-undraw{
    width: 15.25em;
    margin: 0;
}

ion-icon{
    width: 3.125em;
    height: 3.125em;
    border: 1px solid #1A8ACA;
    border-radius: 50%;
    padding: 5px;
    background-color: #FFFFFF;
    position: relative;
}

.android{
    top: -17.75em;
    margin: 0;
    left: 7em;
    transform: translate(0px);
    animation: float 4s ease-out infinite;
}

@keyframes float {
    
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.angular{
    top: -16.75em;
    left: -7.5em;
    margin: 0;
    transform: translate(0px);
    animation: float 7s ease-out infinite;
}

.node{
    top: -13.75em;
    left: 7em;
    margin: 0;
    transform: translate(0px);
    animation: float 7s ease-out infinite;
}

.ionic{
    top: -17.75em;
    left: -7.5em;
    margin: 0;
    transform: translate(0px);
    animation: float 4s ease-out infinite;
}

/*.div-boton{
    width: 99px;
     height: 25px; 
    display: flex;
    align-items: center;
    border: 1px solid #767677;
    border-radius: 12%;
    margin-top: -250px;
    background-color: #1A8ACA ;
}*/

.div-boton{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #1A8ACA;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
  margin-top: -224px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.div-boton:active{
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.boton-trabajos{
    font-size: 20px;   
}

.boton-trabajos > a{
    font-family: 'Roboto', sans-serif;
    font-style: initial;
    text-decoration: none;
    color: black;
}

.fourd-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    background-color: #FFFFFF;
}

.fourd-article{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
}

.fourd-article > p{
    color: #767677;
    margin-bottom: 15px;
}

.servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.servicios-arbol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
   
}

h3{
    font-family: 'Roboto', sans-serif;
    margin-top: 7px;
    margin-bottom: 3px;
}

.texto-desarrollos{
    color:  #767677;
}

footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    justify-content: center;
    gap: 35px;
  }
  
  footer > span{
    margin: 0;
  }

.enlace-sin-estilo{
    text-decoration: none;
    color: #1A8ACA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    gap: 2px;
}

.desktop-hide{
    display: none;
}


@media (min-width: 1024px){
   
    h1{
        font-size: 5.125em;
        margin: 0px 0px 20px 0px;
    }

    br{
        display: none;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FAFAFC;
        gap: 22%;
    }

    h2{
        font-size: 26px;
    }

    p{
        font-size: 1.1em;
    }
   
    ion-icon{
        margin-top: 20px;
    }

    .header-logo-burguer-container{
        justify-content: flex-start;
        margin-left: 3.5%;
    }

    #icon-burguer{
        display: none;
    }

    .nav-bar-desktop{
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px 5% 0px 0px;
    }

    .nav-bar-desktop-links{
        display: flex;
    }

    .nav-bar-ul-desktop{
        display:flex;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .list-desktop > a{
        text-decoration: none;
        display: block;
        padding: 5px 0;
        line-height: 1;
        font-weight: bold;
        position: relative;
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient( to right, #1A8ACA, #1A8ACA 50%, black 50%);
        background-size: 200% 100%;
        background-position: -100%;
        transition: all 0.3s ease-in-out;
    }

    .list-desktop > a::before{
        display:block;
        content:'';
        width:0;
        height:3px;
        bottom:5px;
        left:0;
        bottom:-3px;
        z-index:0;
        position:absolute;
        background: #1A8ACA;
        transition: all 0.3s ease-in-out;
    }

    .list-desktop > a:hover{
        background-position: 0%;
        &:before{
          width:100%;
        }
    }

    .first-section{
        height: 100vh;
    }

    .image-one::before{
        height: 100vh;
        background-size: 100% 100vh;
    }

    .image-one-container > p{
        font-size: 20px;
    }

    .second-section{
        margin: 50px 0px 50px 0px;
    }

    .second-article{
        width: 92%;
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: start;
        margin-top: 40px;
        justify-content: center;
    }

    .second-article > p{
        color: #767677;
        margin-bottom: 15px;
        grid-column-start: 1;
    }

    #gif-1 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        /* justify-content: center; */
        width: 25.25em;
    }

    .third-section{
        margin: 0px 0px 50px 0px;
    }

    .third-article {
        width: 92%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        text-align: start;
        margin-top: 40px;
    }

    .third-article > h2{
        grid-column-start: 2;
    }

    .third-article > p{
        grid-column-start: 2;
    }

    .image-and-icons{
        grid-column-start: 1;
        grid-row-start: 2;
        display: contents;
        margin: 0 auto;
    }

    #img-undraw{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 20em;
        margin: 0 auto;
    }

    .android {
        top: 1.25em;;
        margin: 0px;
        left: 3em;
        transform: translate(0px);
        animation: 4s ease-out 0s infinite normal none running float;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .angular {
        top: 1.25em;
        left: 9.5em;
        margin: 0px;
        transform: translate(0px);
        animation: 7s ease-out 0s infinite normal none running float;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .node {
        top: 1.25em;
        left: 23em;
        margin: 0px;
        transform: translate(0px);
        animation: 7s ease-out 0s infinite normal none running float;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .ionic {
        top: 1.25em;
        left: 16.5em;
        margin: 0px;
        transform: translate(0px);
        animation: 4s ease-out 0s infinite normal none running float;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .div-boton{
        grid-column-start: 2;
        grid-row-start: 5;
        margin-top:initial;
    }

    .fourd-section{
        margin: 0px 0px 50px 0px;
    }

    .fourd-article{
        overflow: hidden;
    }

    .carrousel{
        height: auto;
        overflow: hidden;
        width: 75vw;

    }

    

    .carrousel .servicios{
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        display: flex;
        width: calc(300px * 10);
    }

    .carrousel .servicios:hover{
        animation-play-state: paused;
    }

    .carrousel .servicios-arbol{
        
        margin: 20px 20px 0px 20px;
        
    }
   
    

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-300px * 5));
            transform: translateX(calc(-300px * 5));
        }
    }

    .desktop-hide{
        display: block;
    }

    .servicios{
        display: flex;
        flex-direction: row;
        width: 170%;
    }

    .servicios-arbol{
        width: 639px;
        height: 376px;
        justify-content: flex-start;
        border: 1px solid;
        border-radius: 10px;
    }

    .servicios-arbol > p{
        font-size: 13px;
    }

    #excepcion{
        font-size: 10.5px;
    }



}

@media (min-width: 1037px){
    .android{
        top: 0.25em ;
    }

    .angular{
        top: 0.25em ;
    }

    .node{
        top: 0.25em ;
    }

    .ionic{
        top: 0.25em ;
    }

}

@media (min-width: 1095px){
    .android{
        top: 1.25em ;
    }

    .angular{
        top: 1.25em ;
    }

    .node{
        top: 1.25em ;
    }

    .ionic{
        top: 1.25em ;
    }

}

@media (min-width: 1115px){
    .android{
        top: 1.25em;
        left: 4em;
    }

    .angular{
        top: 1.25em;
        left: 10em;
    }

    .node{
        top: 1.25em;
        left: 23em;
    }

    .ionic{
        top: 1.25em ;
    }

}

@media (min-width: 1172px){
    .android{
        top: 2.25em;
        left: 5em;
    }

    .angular{
        top: 2.25em;
        left: 11.5em;
    }

    .node{
        top: 2.25em;
        left: 24em;
    }

    .ionic{
        top: 2.25em ;
        left: 17.5em
    }

}

@media (min-width: 1222px){
    .android{
        top: 2.25em;
        left: 6em;
    }

    .angular{
        top: 2.25em;
        left: 12.5em;
    }

    .node{
        top: 2.25em;
        left: 25em;
    }

    .ionic{
        top: 2.25em ;
        left: 18.5em
    }

}

@media (min-width: 1264px){
    h1{
        width: 14.125em;
    }

    .android{
        top: 3.25em;
    }

    .angular{
        top: 3.25em;
    }

    .ionic{
        top: 3.25em;
    }

    .node{
        top:3.25em;
    }

}

@media(min-width: 1291px){
    .image-one-container{
        width:1150px;
    }

}

@media (min-width: 1320px){
    .android{
        top: 3.25em;
        left: 8em;
    }

    .angular{
        top: 3.25em;
        left: 14.5em;
    }

    .node{
        top: 3.25em;
        left: 27em;
    }

    .ionic{
        top: 3.25em ;
        left: 20.5em
    }

}

@media (min-width: 1425px){
    .android{
        top: 4.25em;
        left: 9em;
    }

    .angular{
        top: 4.25em;
        left: 15.5em;
    }

    .node{
        top: 4.25em;
        left: 28em;
    }

    .ionic{
        top: 4.25em ;
        left: 21.5em
    }

}


@media (min-width: 1480px){
    .android{
        top: 4.25em;
        left: 10em;
    }

    .angular{
        top: 4.25em;
        left: 16.5em;
    }

    .node{
        top: 4.25em;
        left: 29em;
    }

    .ionic{
        top: 4.25em ;
        left: 22.5em
    }

}

@media (min-width: 1580px){
    .android{
        top: 5.25em;
        left: 11em;
    }

    .angular{
        top: 5.25em;
        left: 17.5em;
    }

    .node{
        top: 5.25em;
        left: 30em;
    }

    .ionic{
        top: 5.25em ;
        left: 23.5em
    }

}

@media (min-width: 1620px){
    .android{
        top: 5.25em;
        left: 12em;
    }

    .angular{
        top: 5.25em;
        left: 18.5em;
    }

    .node{
        top: 5.25em;
        left: 31em;
    }

    .ionic{
        top: 5.25em ;
        left: 24.5em
    }

}

@media (min-width: 1720px){
    .android{
        top: 5.25em;
        left: 13em;
    }

    .angular{
        top: 5.25em;
        left: 19.5em;
    }

    .node{
        top: 5.25em;
        left: 32em;
    }

    .ionic{
        top: 5.25em ;
        left: 25.5em
    }

}

@media (min-width: 1769px){
    .android{
        top: 5.25em;
        left: 15em;
    }

    .angular{
        top: 5.25em;
        left: 21.5em;
    }

    .node{
        top: 5.25em;
        left: 34em;
    }

    .ionic{
        top: 5.25em ;
        left: 27.5em
    }

}

@media (min-width: 1880px){
    .android{
        top: 6.25em;
        left: 17em;
    }

    .angular{
        top: 6.25em;
        left: 23.5em;
    }

    .node{
        top: 6.25em;
        left: 36em;
    }

    .ionic{
        top: 6.25em ;
        left: 29.5em
    }

}

@media (min-width: 2011px){
    .android{
        top: 6.25em;
        left: 19em;
    }

    .angular{
        top: 6.25em;
        left: 25.5em;
    }

    .node{
        top: 6.25em;
        left: 38em;
    }

    .ionic{
        top: 6.25em ;
        left: 31.5em
    }

}

@media (min-width: 2165px){
    .android{
        top: 6.25em;
        left: 20em;
    }

    .angular{
        top: 6.25em;
        left: 26.5em;
    }

    .node{
        top: 6.25em;
        left: 39em;
    }

    .ionic{
        top: 6.25em ;
        left: 32.5em
    }

}

@media (min-width: 2270px){
    .android{
        top: 6.25em;
        left: 21.5em;
    }

    .angular{
        top: 6.25em;
        left: 28em;
    }

    .node{
        top: 6.25em;
        left: 40.5em;
    }

    .ionic{
        top: 6.25em ;
        left: 34.5em
    }

}

@media (min-width: 2340px){
    .android{
        top: 6.25em;
        left: 22.5em;
    }

    .angular{
        top: 6.25em;
        left: 29em;
    }

    .node{
        top: 6.25em;
        left: 41.5em;
    }

    .ionic{
        top: 6.25em ;
        left: 35.5em
    }

}

@media (min-width: 2410px){
    .android{
        top: 6.25em;
        left: 23.5em;
    }

    .angular{
        top: 6.25em;
        left: 30em;
    }

    .node{
        top: 6.25em;
        left: 42.5em;
    }

    .ionic{
        top: 6.25em ;
        left: 36.5em
    }

}

@media (min-width: 2500px){
    .android{
        top: 6.25em;
        left: 24.5em;
    }

    .angular{
        top: 6.25em;
        left: 31em;
    }

    .node{
        top: 6.25em;
        left: 43.5em;
    }

    .ionic{
        top: 6.25em ;
        left: 37.5em
    }

}




