*{
    margin: 0 auto;
    box-sizing: border-box;
}



a{
    text-decoration: none;
    color:black;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 0.800em;
    line-height: 1.6;
    word-spacing: 2px;
    color: #767677;
}

h1 {
    /* font-family: 'Roboto', sans-serif; */
    /* margin-bottom: 20px; */
    /* margin: 0px 0px 0px -35px; */
    font-size: 2.125em;
    /* text-shadow: 4px 5px 4px rgba(0,0,0,0.86); */
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    /* padding: 80px 50px; */
    /* text-align: center; */
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    /* background-color: #333; */
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    
}

h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 23px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFC;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.animate__fadeIn{
    animation-duration: 4s !important;
}

.animate__fadeOut{
    animation-duration: 0.3s !important;
}

.header-logo-burguer-container{
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32%;
    position: relative;
    z-index: 2;
}

.logo-required{
    height: 45px;
    margin: 0;   
}

#icon-burguer{
    height: 30px;
    width: 30px;
    margin: 0;
}

.nav-bar-desktop{
    display:none;
}

.nav-container{
    width: 100%;
    height: 175px;
    /* margin-top: 10px; */
    z-index: 1;
    top: 50px;
    position: absolute;
    background-color: #FAFAFA;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.nav-bar-ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.nav-bar-ul > li{
    margin-top: 13px;
    color: #1D1D1F;
}

.first-section{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    
}

.image-one{
   position: relative;
   background-color: #000;
   
}

.image-one::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0.4;
    width: 100%;
    height: 100vh;  
    background: url(../images/marvin-meyer-SYTO3xs06fU-unsplash-min.jpg) no-repeat center center; 
    background-size: cover;
    
}

.image-one-container{
    width: 92%;
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 38%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #FAFAFA;
}

.image-one-container > p{
        text-shadow: 4px 5px 4px rgba(0,0,0,0.86);
        margin-top: 20px;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    
}

.second-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    background-color: #FFFFFF;
}

.second-article{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
    text-align: center;
}

.qr-y-lista> p{
    color: #767677;
    margin-bottom: 15px;
}

.container-app{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.separador{
    height: 100px;
    border: 1px solid #cbcbcb;
}

.container-app > h2{
    margin: 0 auto;
}

.rq-app-logo{
    width: 120px;
}

.qr{
    width: 40%;
}

.lista{
    list-style: none;
    text-align: center;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 0.800em;
    line-height: 1.6;
    word-spacing: 2px;
    color: #767677;
}

.lista > li{
    margin: 8px 0px 8px 0px;
}

.checkmark{
    color: green;
    font-size: 1.5em;
}

.manual-de-uso{
    margin: 0;
    margin-bottom: 20px; 
}

.manual-de-uso > a {
    color: #1A8ACA;
    
}

video{
    width: 90%;
    margin-bottom: 25px;
}

footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;   
}

.enlace-sin-estilo{
    text-decoration: none;
    color: #1A8ACA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    gap: 2px;
}

@media (min-width: 1024px){
   
    h1{
        font-size: 5em;
        margin: 0px 0px 20px 0px;
    }

    br{
        display: none;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FAFAFC;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 22%;
    }

    h2{
        font-size: 26px;
    }

    p{
        font-size: 1.1em;
    }
   
    ion-icon{
        margin-top: 20px;
    }

    .header-logo-burguer-container{
        justify-content: inherit;
        margin-left: 50px;
    }

    #icon-burguer{
        display: none;
    }

    .nav-bar-desktop{
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px 42px 0px 0px;
    }

    .nav-bar-desktop-links{
        display: flex;
    }

    .nav-bar-ul-desktop{
        display:flex;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .list-desktop > a{
        text-decoration: none;
        display: block;
        padding: 5px 0;
        line-height: 1;
        font-weight: bold;
        position: relative;
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient( to right, #1A8ACA, #1A8ACA 50%, black 50%);
        background-size: 200% 100%;
        background-position: -100%;
        transition: all 0.3s ease-in-out;
    }

    .list-desktop > a::before{
        display:block;
        content:'';
        width:0;
        height:3px;
        bottom:5px;
        left:0;
        bottom:-3px;
        z-index:0;
        position:absolute;
        background: #1A8ACA;
        transition: all 0.3s ease-in-out;
    }

    .list-desktop > a:hover{
        background-position: 0%;
        &:before{
          width:100%;
        }
    }

    .rq-app-logo{
        width: 15%;
    }

    .qr-y-lista{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        margin-bottom: 50px;
        background-color: #FAFAFA;
    }

    .qr-y-lista > p{
        margin: 0;
        grid-column-start: 1;
        font-size: 15px;
    }

    .qr{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 250px;
    }

    .lista{
        grid-column-start: 1;
        grid-row-start: 2;
        margin-top: -20px;
    }

    video{
        width: 50%;
    }

}