*{
    margin: 0 auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 0.800em;
    line-height: 1.6;
    word-spacing: 2px;
}

h1 {
  /* font-family: 'Roboto', sans-serif; */
  /* margin-bottom: 20px; */
  /* margin: 0px 0px 0px -35px; */
  font-size: 2.125em;
  /* text-shadow: 4px 5px 4px rgba(0,0,0,0.86); */
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  /* padding: 80px 50px; */
  /* text-align: center; */
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #e0dfdc;
  /* background-color: #333; */
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  
}

h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 23px;
}

header{
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFC;
  /* margin-top: 10px; */
  justify-content: center;
  /* margin-bottom: 10px; */
  position: relative;
  z-index: 2;
}

.animate__fadeIn{
  animation-duration: 4s !important;
}

.animate__fadeOut{
  animation-duration: 0.3s !important;
}

.header-logo-burguer-container{
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32%;
    position: relative;
    z-index: 2;
}

.logo-required{
    height: 45px;
    margin: 0;   
}

#icon-burguer{
    height: 30px;
    width: 30px;
    margin: 0;
}

.nav-bar-desktop{
  display:none;
}

.nav-container{
  width: 100%;
  height: 175px;
  /* margin-top: 10px; */
  z-index: 1;
  top: 50px;
  position: absolute;
  background-color: #FAFAFA;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.nav-bar-ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.nav-bar-ul > li{
    margin-top: 13px;
    color: #1D1D1F;
}


.second-section{
    width: 100%;
    background-color: #FAFAFA;
    
}



.first-section{
  width: 100%;
  height: 100vh;
  background-color: #000000;
  
}

.first-article{
 position: relative;
 background-color: #000;
 
}

.first-article::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0.6;
  width: 100%;
  height: 100vh;  
  background: url(../images/desola-lanre-ologun-YgOCJz9uGMk-unsplash-min.jpg) no-repeat center center; 
  background-size: cover;
  
}

.image-one-container{
  width: 92%;
  height: 300px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 38%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  color: #FAFAFA;
}

.image-one-container > p{
      text-shadow: 4px 5px 4px rgba(0,0,0,0.86);
      margin-top: 20px;
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 25%));
    justify-content: center;
    gap: 20px;
    background: #FAFAFA;
    padding: 15px;
    padding-top: 50px;
  }

  .imagen-efecto1{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: 100% 100%;
    background-image: url("../images/Trabajos/work1.jpg");
    
  }

  .imagen-efecto2{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: 100% 100%;
    background-image: url("../images/Trabajos/work2.jpg");
  }

  .imagen-efecto3{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: 100% 100%;
    background-image: url("../images/Trabajos/work3.jpg");
  }

  .imagen-efecto4{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: 100% 100%;
    background-image: url("../images/Trabajos/work4.jpg");
  }

  .imagen-efecto5{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: 100% 100%;
    background-image: url("../images/Trabajos/work5.jpg");
  }

  .imagen-efecto6{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: 100% 100%;
    background-image: url("../images/Trabajos/work6.jpg");
  }
  
  .info{
    overflow: hidden;
    height: 210px;
    border-radius: 9px;
    background-color: rgba(31, 31, 31, 0.9);
    transition: opacity 0.3s;
    text-align: center;
    opacity: 0;
    padding: 0px 10px 0px 10px;
  }

  .imagen-efecto1:hover .info{
    opacity: 1;
  }

  .imagen-efecto2:hover .info{
    opacity: 1;
  }

  .imagen-efecto3:hover .info{
    opacity: 1;
  }

  .imagen-efecto4:hover .info{
    opacity: 1;
  }

  .imagen-efecto5:hover .info{
    opacity: 1;
  }

  .imagen-efecto6:hover .info{
    opacity: 1;
  }

  .headline{
    font-size: 1.5rem;
    margin-top: 15px;
    transition: margin-left 0.3s;
    color: #FFFFFF;
  }


  .descripcion{
    text-align: center;
    margin-top: 4px;
    transition: margin-top 0.4s;
    color: #FFFFFF;
    font-size: 12px;
  }

  

  .container img {
    width: 100%;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
  }

  .container img:hover {
    transform: scale(1.04);
    /*-webkit-filter: grayscale(0);
    filter: grayscale(0);*/
  }

/*Prueba de carrousel*/

.section-carrousel{
  margin: 50px 0px 50px 0px;
}

.slider{
    width: 75vw;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 32 );
}

.slider .slide{
    width: 200px;
    margin: 0px 10px 0px 10px;
    height: 56px;
}

.slider .slide img{
    width: 100%;
    height: 100%;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 16));
        transform: translateX(calc(-200px * 16));
    }
}

footer{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  justify-content: center;
  gap: 35px;
}

footer > span{
  margin: 0;
}

.enlace-sin-estilo{
    text-decoration: none;
    color: #1A8ACA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    gap: 2px;
}

.parrafo-footer{
    font-size: 9px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    color: #767677;
}


@media (min-width: 1024px){
   
  header{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #FAFAFC;
      gap: 22%;
  }

  h1{
    font-size: 5em;
    margin: 0px 0px 20px 0px;
}

  .header-logo-burguer-container{
    justify-content: flex-start;
    margin-left: 3.5%;
}
 
  #icon-burguer{
      display: none;
  }

  .nav-bar-desktop{
      width: 50%;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0px 5% 0px 0px;
  }

  .nav-bar-desktop-links{
      display: flex;
  }

  .nav-bar-ul-desktop{
      display:flex;
      list-style: none;
      font-family: 'Open Sans', sans-serif;
      align-items: center;
      justify-content: center;
      gap: 40px;
  }

  .list-desktop > a{
    text-decoration: none;
    display: block;
    padding: 5px 0;
    line-height: 1;
    font-weight: bold;
    position: relative;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( to right, #1A8ACA, #1A8ACA 50%, black 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

.list-desktop > a::before{
    display:block;
    content:'';
    width:0;
    height:3px;
    bottom:5px;
    left:0;
    bottom:-3px;
    z-index:0;
    position:absolute;
    background: #1A8ACA;
    transition: all 0.3s ease-in-out;
}

.list-desktop > a:hover{
    background-position: 0%;
    &:before{
      width:100%;
    }
}

.parrafo-footer{
  font-size: 12px;
}



p{
  font-size: 1.1em;
}

.first-article{
  display: block;
}

}




