*{
    margin: 0 auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 0.800em;
    line-height: 1.6;
    word-spacing: 2px;
}

h1{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 2.125em;
}

h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 23px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-logo-burguer-container{
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32%;
}

.logo-required{
    height: 45px;
    margin: 0;   
}

#icon-burguer{
    height: 30px;
    width: 30px;
    margin: 0;
}

.nav-bar-desktop{
  display:none;
}

.nav-container{
    width: 100%;
    height: 175px;
    margin-top: 10px;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.nav-bar-ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.nav-bar-ul > li{
    margin-top: 13px;
    color: #1D1D1F;
}

.first-section{
width: 100%;
/*height: 47.5em;*/
background-color: #FFFFFF;
/*border: 1px solid red;*/
}

.first-article{
    width: 92%;
    height: auto;
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-article >p{
  color: #767677;
}

#img-undraw{
    width: 18.25em;
}

.second-section{
    width: 100%;
    background-color: #FAFAFA;
}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    background: #FAFAFA;
    padding: 15px;
  }

  .imagen-efecto1{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: cover;
    background-image: url("../images/Trabajos/work1.jpg");
  }

  .imagen-efecto2{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: cover;
    background-image: url("../images/Trabajos/work2.jpg");
  }

  .imagen-efecto3{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: cover;
    background-image: url("../images/Trabajos/work3.jpg");
  }

  .imagen-efecto4{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: cover;
    background-image: url("../images/Trabajos/work4.jpg");
  }

  .imagen-efecto5{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: cover;
    background-image: url("../images/Trabajos/work5.jpg");
  }

  .imagen-efecto6{
    width: 100%;
    height: 210px;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
    background-size: cover;
    background-image: url("../images/Trabajos/work6.jpg");
  }
  
  .info{
    overflow: hidden;
    height: 210px;
    border-radius: 9px;
    background-color: rgba(31, 31, 31, 0.9);
    transition: opacity 0.3s;
    text-align: center;
    opacity: 0;
    padding: 0px 10px 0px 10px;
  }

  .imagen-efecto1:hover .info{
    opacity: 1;
  }

  .imagen-efecto2:hover .info{
    opacity: 1;
  }

  .imagen-efecto3:hover .info{
    opacity: 1;
  }

  .imagen-efecto4:hover .info{
    opacity: 1;
  }

  .imagen-efecto5:hover .info{
    opacity: 1;
  }

  .imagen-efecto6:hover .info{
    opacity: 1;
  }

  .headline{
    font-size: 1.5rem;
    margin-top: 15px;
    transition: margin-left 0.3s;
    color: #FFFFFF;
  }


  .descripcion{
    text-align: center;
    margin-top: 4px;
    transition: margin-top 0.4s;
    color: #FFFFFF;
    font-size: 12px;
  }

  

  .container img {
    width: 100%;
    display: block;
    /*-webkit-filter: grayscale(1);
    filter: grayscale(1);*/
    transition: all 100ms ease-out;
    border: 1px solid #1A8ACA;
    border-radius: 10px;
  }

  .container img:hover {
    transform: scale(1.04);
    /*-webkit-filter: grayscale(0);
    filter: grayscale(0);*/
  }

/*Prueba de carrousel*/

.slider{
    width: 75vw;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 32 );
}

.slider .slide{
    width: 200px;
    margin: 0px 10px 0px 10px;
    height: 95px;
}

.slider .slide img{
    width: 100%;
    height: 100%;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 16));
        transform: translateX(calc(-200px * 16));
    }
}

footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;   
    margin-top: 20px
}

.enlace-sin-estilo{
    text-decoration: none;
    color: #1A8ACA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    gap: 2px;
}

.parrafo-footer{
    font-size: 8px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    color: #767677;
}

@media (min-width: 1024px){
   
  header{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #FAFAFC;
      margin-top: 10px;
      margin-bottom: 10px;
      gap: 22%;
  }
 
  #icon-burguer{
      display: none;
  }

  .nav-bar-desktop{
      width: 50%;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0px 42px 0px 0px;
  }

  .nav-bar-desktop-links{
      display: flex;
  }

  .nav-bar-ul-desktop{
      display:flex;
      list-style: none;
      font-family: 'Open Sans', sans-serif;
      align-items: center;
      justify-content: center;
      gap: 40px;
  }

  .list-desktop > a{
    text-decoration: none;
    display: block;
    padding: 5px 0;
    line-height: 1;
    font-weight: bold;
    position: relative;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( to right, #1A8ACA, #1A8ACA 50%, black 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

.list-desktop > a::before{
    display:block;
    content:'';
    width:0;
    height:3px;
    bottom:5px;
    left:0;
    bottom:-3px;
    z-index:0;
    position:absolute;
    background: #1A8ACA;
    transition: all 0.3s ease-in-out;
}

.list-desktop > a:hover{
    background-position: 0%;
    &:before{
      width:100%;
    }
}

}