*{
    margin: 0 auto;
    box-sizing: border-box;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 0.800em;
    line-height: 1.6;
    word-spacing: 2px;
}

h1{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 2.125em;
}

h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 23px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-logo-burguer-container{
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32%;
}

.logo-required{
    height: 45px;
    margin: 0;   
}

#icon-burguer{
    height: 30px;
    width: 30px;
    margin: 0;
}

.nav-container{
    width: 100%;
    height: 175px;
    margin-top: 10px;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.nav-bar-ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.nav-bar-ul > li{
    margin-top: 13px;
    color: #1D1D1F;
}

.first-section{
    width: 100%;
    height: 47.5em;
    background-color: #062f3f;
}

.image-one{
   position: relative;
   background-color: #000;
   
}

.image-one::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0.5;
    width: 100%;
    height: 47.5em;  
    background: url(/images/luca-bravo-XJXWbfSo2f0-unsplash-min.jpg) no-repeat center center; 
    background-size: 600px 800px;
}

.image-one-container{
    width: 92%;
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 38%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #FAFAFA;
}

.second-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    background-color: #FFFFFF;
}

.second-article{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
}

.second-article > p{
    color: #767677;
    margin-bottom: 15px;
}

#gif-1{
    width: 18.25em;
}

.third-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    background-color: #FFFFFF;
}

.third-article{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
}

.third-article > p{
    color: #767677;
    margin-bottom: 15px;
}

#img-undraw{
    width: 18.25em;
    margin: 0;
}

ion-icon{
    width: 3.125em;
    height: 3.125em;
    border: 1px solid #1A8ACA;
    border-radius: 50%;
    padding: 5px;
    background-color: #FFFFFF;
    position: relative;
}

.android{
    top: -17.75em;
    margin: 0;
    left: 7em;
}

.angular{
    top: -17.75em;
    left: -7.5em;
    margin: 0;
}

.node{
    top: -15.75em;
    left: 7em;
    margin: 0;
}

.ionic{
    top: -17.75em;
    left: -7.5em;
    margin: 0;
}

.div-boton{
    width: 99px;
    /* height: 25px; */
    display: flex;
    align-items: center;
    border: 1px solid #767677;
    border-radius: 12%;
    margin-top: -250px;
    background-color: #1A8ACA ;
}

.boton-trabajos{
    font-size: 20px;   
}

.boton-trabajos > a{
    font-family: 'Roboto', sans-serif;
    font-style: initial;
    text-decoration: none;
    color: black;
}

.fourd-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    background-color: #FFFFFF;
}

.fourd-article{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 40px;
}

.fourd-article > p{
    color: #767677;
    margin-bottom: 15px;
}